
:root {
    --slate-500: #64748B;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #94A3B8;
}

#content {
    height: 70vh;
    width: 60vw;
    display: grid;
    grid-template-rows: 28px 1fr;
    border: 1px solid red;
}

#main {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.project-section {
    border: 1px solid blue;
}

.task-section {
    border: 1px solid blue;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15% auto;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid red;
    background-color: white;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#modal-form input {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: 1px solid var(--slate-500);
}

.btn-close-modal {
    height: 20px;
    width: 20px;
    padding: 0;
}

.task-card {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.task-title {
    margin: 0;
}



.display-none {
    display: none;
}