
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    height: 70vh;
    width: 60vw;
    display: grid;
    grid-template-rows: 28px 1fr;
    border: 1px solid red;
}

#main {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.project-section {
    border: 1px solid blue;
}

.task-section {
    border: 1px solid blue;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    border-radius: 5px;
}

.display-none {
    display: none;
}