
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    height: 70vh;
    width: 60vw;
    display: grid;
    grid-template-rows: 28px 1fr;
    border: 1px solid red;
}

#main {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.project-section {
    border: 1px solid blue;
}

.task-section {
    border: 1px solid blue;
}

.modal {
    height: 500px;
    width: 500px;
    border: 2px solid red;
}